.row
  .col-md-4
    = image_tag @play.play_img.url(:play_show), class: "play-show"

  .col-md-8
    .play-info
      %h2.play-title= @play.title
      %h3.play-director
        %em From:
        = @play.director
      %h4.play-director= @play.category.name
      %h4.avg-rating Average Rating
      .average-review-rating{ "data-score" => @average_review }
      %span.number-of-reviews
        %em
          From
          = @play.reviews.count
          reviews
      %p.play-desc= @play.description

.row
  .col-md-12
    .reviews
      %h1 Reviews
      = render @play.reviews
      = link_to "Add Reviews", new_play_review_path(@play), class: "btn-custom"

.btn-group
  - if user_signed_in?
    -if @play.user_id == current_user.id
      = link_to "Edit", edit_play_path(@play), class: "btn btn-custom"
      = link_to "Delete", play_path(@play), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom"

:javascript
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });

:javascript
  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
